module.exports = {
  port: 3000,
  db: {
    host: "localhost",
    user: "username",
    password: process.env.DB_PASSWORD,
    database: "db"
  },
  tables: {
    minigames: "Minigames"
  },
  debug: false,
  blacklist: {
    proxy: {
      message: "Example message",
      ips: [
        "127.0.0.1"
      ]
    }
  }
}